$color-primary: #008489;
$light-gray: #dbd9d8;
$dark-gray: #616162;
$faint-gray: #f3f4f5;

.color-banner {
  color: #4c4c4c;
}

.primary {
  color: $color-primary;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-faint-gray {
  background-color: $faint-gray;
}
